
  
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(233, 212, 212);
    background-image: url(https://th.bing.com/th/id/OIP.bLeguF2Ne0_zpXeh9MQeFwHaFj?pid=ImgDet&rs=1); background-size: cover; 
    margin: 0;
    padding: 0;
    text-align: center;

    
  }

.contenedor{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#tablero table tr td{
    font-size: 35px;
    border-bottom: 1px solid gray;
}

.dibujo img{
  width: 300px;
  height: auto;

}